.banner{
width:100%;
height:206px;
float:left;}
.b_index{
background-image:url(../image/banner.jpg);
}
.b_about{
background-image:url(../image/b_college.jpg);}
.b_co{
background-image:url(../image/b_co.jpg)}
.b_lab{
background-image:url(../image/b_lab.jpg)}
.b_tea{
background-image:url(../image/b_teacher.jpg)}
.b_play{
background-image:url(../image/b_play.jpg);}
.b_exchange{
background-image:url(../image/b_exchange.jpg);}
.b_discuss{
background-image:url(../image/b_discuss.jpg);}
.b_intern{
background-image:url(../image/b_intern.jpg);}
.b_course{
background-image:url(../image/b_course.jpg);}
.b_talent{
background-image:url(../image/b_talent.jpg);}
.b_admission{
background-image:url(../image/b_admission.jpg);}
.b_ibm{
background-image:url(../image/b_ibmcenter.jpg);}
h1{
color:white;
font-size:20px;
letter-spacing:1px;
font-family:Microsoft YaHei,SimHei;
float:right;
margin:0;
padding:0;
position:relative;
top:170px;
right:20px;}