@charset 'utf-8';

/* main */
body.main {
	width:100%;
	height:98%;
	font-family: 'Microsoft YaHei','微软雅黑', Helvetica, Sans-serif;
  	font-size:12px;
}
body.main #container {
	background:none;
	height:0;
	padding:0;
}
.main_flash {
	width:100%;
	height:486px;
	background:url('../images/mobile/main_flash_bg.jpg') no-repeat 0 0;
}
	.main_flash .flash {
		max-width:100%;
		height:486px;
		margin: 0 auto;
		background:none;
	}

img{   
		border:0;   
		margin:0;   
		padding:0;   
		max-width:200px;   
		width:expression(this.width>200?"200px":this.width);   
		max-height:150px;   
		height:expression(this.height>200?"  200px":this.height);   
	} 

.main_flash2 {
	width:100%;
	height:486px;
	background:url('../images/mobile/main_flash_bg.jpg') no-repeat 0 0;
}
	.main_flash2 .flash2 {
		max-width:960px;
		height:486px;
		margin: 0 auto;
		background:none;
	}

.main_flash3 {
	width:100%;
	height:486px;
	_background:url('../images/main/main_flash01.jpg') no-repeat 0 0;
}
	.main_flash3 .flash2 {
		max-width:960px;
		height:486px;
		margin: 0 auto;
		display:block;
		overflow:hidden;
		background:none;
	}
	 .roll_img {position:absolute; margin:0 auto; overflow:hidden; height:485px; width:2000px;}
	.main_flash3 .main_visual .roll_img ul:first-child{overflow:hidden; display:block;}
	.main_flash3 .main_visual .roll_img ul li {position:absolute; top:0; left:0; height:485px; width:2000px;}


.main_contents01 {
	width:100%;
	height:165px;
	background:#7A8BA5;
	line-height:15px;
}

	/*
	.main_contents01 .m_cont {
		position:relative;
		height:165px;
		margin: 0 auto;
		width:960px;
	}
	*/

	
	.m_ban {
		text-align:right;
		position:absolute;
		top:468px;
		/*bottom:348px;*/
		right:0;
	}
	.m_ban_top {
		overflow:hidden;
		background:url('../images/main/m_ban_top_bg.png') no-repeat 0 top;
		width:66px;
		height:45px;
		margin:0;
	}
	.m_ban_mid {
		overflow:hidden;
		padding:0 7px;
		background:url('../images/main/m_ban_mid_bg.png') no-repeat 0 0;
		width:52px;
		margin:0;
	}
	.m_ban_mid ul {
		overflow:hidden;
	}
	.m_ban_mid ul li {
		padding:7px 0;
		border-bottom:1px solid #DBDED7;
		margin-bottom:-1px;
	}
	.m_ban_btm {
		background:url('../images/main/m_ban_btm_bg.png') no-repeat 0 0;
		width:66px;
		height:6px;
		margin:0;
	}
	
	.mobile_ban {
		text-align:right;
		position:absolute;
		top:468px;
		bottom:64px;
		right:0;
	}
	.mobile_ban_top {
		overflow:hidden;
		background:url('../images/main/m_ban_top_bg.png') no-repeat 0 top;
		width:66px;
		height:45px;
		margin:0;
	}
	.mobile_ban_mid {
		overflow:hidden;
		padding:0 7px;
		background:url('../images/main/m_ban_mid_bg.png') no-repeat 0 0;
		width:52px;
		margin:0;
	}
	.mobile_ban_mid ul {
		overflow:hidden;
	}
	.mobile_ban_mid ul li {
		padding:7px 0;
		border-bottom:1px solid #DBDED7;
		margin-bottom:-1px;
	}
	.mobile_ban_btm {
		background:url('../images/main/m_ban_btm_bg.png') no-repeat 0 0;
		width:66px;
		height:6px;
		margin:0;
	}

	.main_contents01 .m_cont {
		height:136px;
		margin: 0 auto;
		width:960px;
		overflow:hidden;
		padding-top:29px;
	}
	.main_contents01 .m_cont .m_notice {
		float:left;
		overflow:hidden;
		position:relative;
		width:304px;
		height:130px;
		margin-right:24px;
	}
	.main_contents01 .m_cont .m_notice h3 {
		margin:4px 0 0 0;
	}
	.main_contents01 .m_cont .m_notice .pr_img {
		overflow:hidden;
		float:left;
		width:100px;
		height:78px;
		margin-right:10px;
		margin-top:14px;
		
	}
	.main_contents01 .m_cont .m_notice .pr_img img {
		border:solid 2px #ffffff;
	}
	.main_contents01 .m_cont .m_notice .pr_txt {
		float:left;
		width:186px;
		height:64px;
		margin-top:12px;
	}
		.main_contents01 .m_cont .m_notice .pr_txt p.subj a {
			color:#FFF;
			font-weight:bold;
		}
		.main_contents01 .m_cont .m_notice .pr_txt p.cont {
			margin-top:3px;
			font-size:11px;
			color:#9FB4D4;
			line-height:14px;
			margin-bottom:4px;
		}
		.date2 {
			font-size:10px;
			letter-spacing:-1px;
			color:#FFF;

		}
		.prroom_cont {
			font-size:11px;
			letter-spacing:-1px;
			color:#FFF;
		}
		.main_contents01 .m_cont .m_notice .m_more {
			display:block;
			position:absolute;
			top:5px;
			right:3px;
		}
		.campinfo01 {
			position:relative;
			background:url(../images/main/m_comp01_bg.gif) no-repeat left top;
			width:304px;
			height:106px;
		}
		.campinfo02 {
			position:relative;
			background:url(../images/main/m_comp02_bg.gif) no-repeat left top;
			width:304px;
			height:106px;
		}
		.campinfo03 {
			position:relative;
			background:url(../images/main/m_comp03_bg.gif) no-repeat left top;
			width:304px;
			height:106px;
		}
		.campinfo04 {
			position:relative;
			background:url(../images/main/m_comp04_bg.gif) no-repeat left top;
			width:304px;
			height:106px;
		}
		.tab_sbu {
			width:304px;
			overflow:hidden;
		}
		.tab_sbu li {
			float:left;
			display:inline;
			margin:0 4px;
		}
		.notice01 {
			width:304px;
			margin:0 0 0 4px;
			padding-top:25px;
			/* margin:25px 0 0 4px; */
		}
			.notice01 ul li {
				width:297px;
			}
				.notice01 ul li p {
					font-size:12px;
					padding:1px 0;
					width:230px;
				}
					.notice01 ul li p a {color:#FFF;}
					.notice01 ul li .m_date {
						float:right;
						margin-top:-16px;
						color:#FFF;
					}
	.main_contents01 .m_cont .m_notice2 {
		float:left;
		overflow:hidden;
		position:relative;
		width:304px;
		height:114px;
		background:#7A8BA5;

	}
	.main_contents01 .m_cont .m_notice2 h3 {
		margin:4px 0 0 0;
	}
		.main_contents01 .m_cont .m_notice2 .campinfo01 .info_camp {
			position:absolute;
			top:19px;
			left:130px;
		}
			.main_contents01 .m_cont .m_notice2 .btn_link {
				position:absolute;
				top:80px;
				right:5px;
			}
			.main_contents01 .m_cont .m_notice2 .tab_seo {
				position:absolute;
				top:0px;
				right:5px;
			}
				.main_contents01 .m_cont .m_notice2 .tab_seo li {
					float:left;
					display:inline;
					margin-right:6px;
				}
		.main_contents01 .m_cont .m_notice2 .campinfo02 .info_camp {
			position:absolute;
			top:19px;
			left:134px;
		}
		.main_contents01 .m_cont .m_notice2 .campinfo03 .info_camp {
			position:absolute;
			top:19px;
			left:134px;
		}
		.main_contents01 .m_cont .m_notice2 .campinfo04 .info_camp {
			position:absolute;
			top:19px;
			left:134px;
		}
.main_contents02 {
	width:100%;
	height:68px;
	background:url(../images/main/m_cont_bg.gif) repeat-x 0 0;
}
	.main_contents02 .m_cont {
		height:68px;
		margin: 0 auto;
		width:960px;
	}
		.main_contents02 .m_cont h3 {
			float:left;
			display:inline;
			width:82px;
			margin:15px 0 0 0;
		}
		.main_contents02 .m_cont ul {
			float:left;
			display:inline;
			width:878px;
			overflow:hidden;
		}
		.main_contents02 .m_cont ul li {
			float:left;
			display:inline;
			/* width:132px; */
			width:120px;
			height:15px;
			margin-top:11px;
			height:22px;
			line-height:0;
			font-size:0;
			padding:0;
		}
		.main_contents02 .m_cont ul li.wd {
			width:83px !important;
		}

	
		h2.tab_sbu01 {position:absolute; left:4px; top:1px;}
		h2.tab_sbu02 {position:absolute; left:51px; top:0;}
		h2.tab_sbu03 {position:absolute; left:98px; top:0;}
		h2.tab_sbu04 {position:absolute; left:145px; top:0;}
		h2.tab_sbu05 {position:absolute; left:192px; top:0;}
		 